# Backend
PORT=4000
HOST=0.0.0.0
API_VERSION=v1
NODE_ENV=development
REQUEST_TIMEOUT=15000
CORS_ORIGIN=http://localhost:3000

# Database
DATABASE_URL="postgres://gitpaas:amukds4wi9001583845717ad2@localhost:5432/gitpaas"

# Frontend
FRONTEND_URL=http://localhost:3000
