# Backend
PORT=4000
HOST=0.0.0.0
API_VERSION=v1
NODE_ENV=development
REQUEST_TIMEOUT=15000
CORS_ORIGIN=http://localhost:3000
SETUP_TOKEN=random-token-for-setup

# Database
DATABASE_URL="postgres://gitpaas:password@localhost:5432/gitpaas"

# Github installer application
GITHUB_INSTALLER_URL=http://localhost:3000
